{% extends "base.html" %}
{% block title %} 
Основная страница производства
{% endblock %} 
{% block content %}
<div class="container mt-4">
    <h1>Главная страница производства</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <h2><a href="{% url 'production:machine_list' %}">Машины</a></h2>
            <ul>
                {% for machine in machines|slice:":5" %}
                    <li><a href="{% url 'production:machine_detail' pk=machine.pk %}">{{ machine.name }}</a></li>
                {% empty %}
                    <li>Нет доступных машин.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2><a href="{% url 'production:order_list' %}">Заказы</a></h2>
            <ul>
                {% for order in orders|slice:":5" %}
                    <li><a href="{% url 'production:order_detail' pk=order.pk %}">{{ order.name }}</a></li>
                {% empty %}
                    <li>Нет активных заказов.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
