{% extends "base.html" %}
{% block title %} 
Заказы
{% endblock %} 
{% block content %}
<div>
  <h1>Страница заказов производства</h1>
  <hr>

  <div>
    <div>
      <h2><a href="{% url 'production:order_list' %}">Заказы</a></h2>
      <ul>
        {% for order in orders|slice:":5" %}
          <li><a href="{% url 'production:order_detail' pk=order.pk %}">{{ order.name }}</a></li>
        {% empty %}
          <li>Нет заказов.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
