{% block header %}
{# Скрытый чекбокс для управления состоянием меню #}
<input type="checkbox" id="nav-toggle" class="nav-toggle">
{# Кнопка-гамбургер для открытия/закрытия #}
<label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</label>
<nav class="nav-main-header" id="main-nav">
  {% with request.resolver_match.view_name as view_name %}
    <ul>
      <li>
        <a aria-current="page" href="{% url 'production:main' %}">О компании</a>
      </li>
      <li>
        <a aria-current="page" href="{% url 'production:machine_list' %}">Машины</a>
      </li>
      <li>
        <a aria-current="page" href="{% url 'production:clue_list' %}">Клей</a>
      </li>
      <li>
        <a aria-current="page" href="{% url 'production:order_list' %}">Заказы</a>
      </li>
      <li>
        <a aria-current="page" href="{% url 'production:working_shift' %}">Смена</a>
      </li>
    </ul>
  {% endwith %}
</nav>
{% endblock %}